@font-face{
  font-family: 'Chomsky';
  src: url('/fonts/Chomsky.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'GalSILB';
  src: url('/fonts/GalSILB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'OldNewspaperTypes';
  src: url('/fonts/OldNewspaperTypes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
