---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-4"
  rowSpan="md:row-span-1"
>
  <div class="flex h-full w-full flex-col">
    <h2 class="text-2xl font-[GalSILB]">LIKED IT?</h2>
    <p class="font-[OldNewspaperTypes] mt-3">This site is build with Astro and fully open source
      if you like this site go ahead and fork it on GitHub and dont forget to give it a star</p>
    <p class="mt-3 text-xs font-[OldNewspaperTypes]">© 2024 · Crafted with &lt;3 using <a
      href="https://astro.build/"
      target="_blank"
      class="underline">Astro</a>
      <br /> Source code is available on <a
        href="example.com"
        target="_blank"
        class="underline">GitHub</a>
    </p>
  </div>
</Card>
