---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h2 class="text-3xl font-bold font-[GalSILB]">INTRODUCTION</h2>
        <p class="m-0 font-[OldNewspaperTypes] mt-3 text-justify break-words">
          Hello there, stranger from the other side of the screen! I'm Suvan Banerjee, developer by profession and a passionate learner at heart. I love making computers hum with my code. Besides coding, I'm a huge otaku and a not-so-great artist in my free time. Currently, I work as a Full Stack Intern at BurdenOff Consultancy Services.

          I'm also an avid open-source contributor, always eager to add my two cents to the community through various projects. On weekends, you'll likely find me volunteering, Social work is something I'm passionate about, and I believe in giving back to society in any way I can.
        </p>
        <!-- <div class="flex justify-center">
          <img
            src="/wave.png"
            class="m-2 rounded-l max-w-[60%]"
            alt="The Great Wave off Kanagawa"
          
          />
        </div> -->
      </div>
    </div>
  </div>
</Card>
