---
import Card from '../Card.astro'
import TimeZoneV2 from './TimeZoneCardV2'
---

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-1">
  <h2 class="text-2xl mb-2 font-bold font-[GalSILB]">TIME-ZONE</h2>
  <p class="font-[OldNewspaperTypes] text-justify break-words">
    In today’s world, time is invaluable and it varies across the globe. Here’s a look at what my time looks like.
  </p>
  <br />
  <TimeZoneV2 timezone="India" client:load />
</Card>
